@inject IFileVersionProvider fileVersionProvider;
@{
    ViewData["Title"] = "Welcome";
}

<div data-hr-controller="buttons">
    <div data-hr-view="mainButtons" class="row">
        <template>
            <div class="col-xl-4 col-lg-6 col-sm-12">
                <h3 class="itemHeader">{{data.label}}</h3>

                <div class="icon-outer">
                    <div class="ball-pulse" data-hr-toggle="load" data-hr-style-off="display:none;">
                        <div class="loader">
                            <div class="ball"></div>
                        </div>
                    </div>
                    {{if data.buttonType == "Light"}}
                    <div data-hr-toggle="main" class="startHidden" data-hr-style-on="display:block;">
                        <img src="@fileVersionProvider.AddFileVersionToPath("", Url.Content("~/Images/bulb.png"))"
                             class="bulbShadow"
                             data-hr-toggle="icon"
                             data-hr-class-BulbOff="bulb-off"
                             data-hr-class-BulbOn="bulb-on" />
                    </div>
                    {{else if data.buttonType == "Fan"}}
                    <div data-hr-toggle="main" class="startHidden fan-block" data-hr-style-on="display:block;">
                        <div class="fan" 
                             data-hr-toggle="icon"
                             data-hr-class-FanOff="fan-off"
                             data-hr-class-FanLow="fan-low"
                             data-hr-class-FanMedium="fan-med"
                             data-hr-class-FanHigh="fan-high"></div>
                    </div>
                    {{/if}}
                </div>

                <div class="startHidden" data-hr-toggle="error">An error occured.</div>
                <div>
                    {{for i in data.buttonStates}}
                    <button value="{{i.buttonStateId}}" data-hr-on-click="pressButton" class="btn btn-lg btn-control btn-default">{{i.label}}</button>
                    {{/for}}
                </div>
            </div>
        </template>
        <load visible="true"></load>
    </div>
</div>

<div data-hr-controller="thermostats">
    <div data-hr-view="main" class="thermostat-main">
        <template>
            <h2 class="itemHeader">Thermostat</h2>
            <div class="mt-1">
                <div class="fillLoaderParent">
                    <div class="row">
                        <div data-hr-view="presets" class="col-sm">
                            <template>
                                <button class="btn btn-lg btn-control btn-default thermostat-preset-button" data-hr-on-click="apply">{{data.label}}</button>
                            </template>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row thermostat-text" data-hr-toggle="currentTemp">
                                <div class="col-sm-9" data-hr-view="currentTemp">
                                    <template>
                                        {{if isOff}}
                                        Off
                                        {{/if}}
                                        {{spaceTemp}}&deg; {{humidity}}%
                                    </template>
                                </div>
                            </div>

                            <form data-hr-form="tempForm" class="form-horizontal" data-hr-form-component="hr.forms.horizontal" data-hr-on-submit="changeTemp">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <label>Cool</label>
                                        <select class="form-control" name="coolTemp"></select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <label>Heat</label>
                                        <select class="form-control" name="heatTemp"></select>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-9">
                                        <button class="btn btn-lg btn-control btn-default thermostat-apply-button" data-hr-on-click="apply" value="submit">Apply</button>
                                        <img src="@fileVersionProvider.AddFileVersionToPath("", Url.Content("~/Images/heaton.png"))" data-hr-toggle="heating" class="startHidden" data-hr-style-on="display:inline;" />
                                        <img src="@fileVersionProvider.AddFileVersionToPath("", Url.Content("~/Images/coolingon.png"))" data-hr-toggle="cooling" class="startHidden" data-hr-style-on="display:inline;" />
                                        <img src="@fileVersionProvider.AddFileVersionToPath("", Url.Content("~/Images/hvacoff.png"))" data-hr-toggle="off" class="startHidden" data-hr-style-on="display:inline;" />
                                        <img src="@fileVersionProvider.AddFileVersionToPath("", Url.Content("~/Images/fanon.png"))" data-hr-toggle="fanon" class="startHidden" data-hr-style-on="display:inline;" />
                                        <img src="@fileVersionProvider.AddFileVersionToPath("", Url.Content("~/Images/fanoff.png"))" data-hr-toggle="fanoff" class="startHidden" data-hr-style-on="display:inline;" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <load class="fillLoader" visible="true"></load>
                </div>
            </div>
        </template>
    </div>
</div>
